BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: false
Cpp11BracedListStyle: false
